@model StoreMVC.ViewModels.ProductVM

<form id="@Model.ProductID" asp-page="/Cart" method="post">
    <input type="hidden" asp-for="ProductID" />

    <span class="card-text p-1">
        @Model.Description
        <button type="submit"
                class="btn btn-success btn-sm pull-right" style="float:right">
            Add to Cart.
        </button>
    </span>
</form>