@page "/Cart"
@model StoreMVC.Pages.CartModel
@{
}

<h4>Your cart</h4>
<table class="table table-bordered" table-striped>
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Count</td>
                <td class="text-left">@line.Product.ProductName</td>
                <td class="text-right">@line.Product.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Count * line.Product.Price).ToString("c"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td>
                1500
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn-btn-primary" asp-action="Index" asp-controller="Home">Continue Shopping</a>
    <a class="btn btn-primary" asp-action="Checkout" asp-controller="Order">Checkout</a>
</div>