@model IEnumerable<ProductVM>
@using StoreMVC.ViewModels;
@using System.Globalization;

<div class=row>
    <div class=col-2>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide col-8" style="max-height:60vh;max-width:80vh" data-ride="carousel" data-interval="600000">
        <ol class="carousel-indicators">
            @{
            foreach (var item in Model)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@(item.ProductName)" @(item == Model.First() ? "class='active'" : "")></li>
            }
        }
        </ol>
        <div class="carousel-inner">
            @{
            foreach (var item in Model)
            {
                <div class="carousel-@(item == Model.First() ? "item active" : "item")">
                        <img class="d-block" style="max-height:50vh; max-width:80vh" src="~/images/@item.Image" alt="title">
                        <div class="carousel-caption d-none d-md-block">
                            @item.ProductName
                        </div>
                    </div>
            }
        }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class=col-2>

    </div>

</div>


