@model StoreMVC.ViewModels.ProductVM

<form id="@Model.Id" asp-page="/Cart" method="post">
    <input type="hidden" asp-for="Id" />

    <span class="card-text">
        <button type="submit"
                class="btn btn-success btn-sm pull-right" style="float:right">
            Add
        </button>
    </span>
</form>