@model IEnumerable<StoreAdminMVC.ViewModels.ProductVM>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-outline-info">Create New</a>
</p>

<div class="card-deck">
    @foreach (var product in Model)
    {
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
                <h3>@product.ProductName</h3>
            </div>

            <img  class="card-img-top imgThumbnail" src="~/Images/@product.Image" asp-append-version="true"/>

            <div class="card-footer text-center">
                <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary m-1">Details</a>
                <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-success m-1">Edit</a>
                <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>
