@model StoreMVC.Models.Order.Cart

<div>
    @if (@Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Count) item(s)
            @Model.ComputeTotalPrice().ToString("c", CultureInfo.CreateSpecificCulture("en-US"))
        </small>
    }
    <a asp-page="/Cart" class="btn btn-sm btn-success navbar-btn">
        <i class="fa fa-shopping-cart fa-2x">
        </i>
    </a>
</div>