@using StoreMVC.Models
@model ProductListVM

@for (int i = 0; i < 3; i++)
{
    <br />
}


@foreach (var category in Model.Categories)
{
    <a class="btn btn-block
       @(category == ViewBag.SelectedCategory
   ? "btn-primary": "btn-outline-secondary")"
       asp-action="GetProductsByCategory" asp-controller="Home"
       asp-route-category="@category.Title">
        @category.Title
    </a>
}