<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand col-1" asp-controller="Home" asp-action="Index"><h3>Store</h3></a>
                
                <a asp-page="/Cart" class="btn btn-sm btn-success navbar-btn">
                    <i class="fa fa-shopping-cart fa-2x">
                    </i>
                </a>
            </div>
        </nav>
    </header>
    <div>
        <div class="bg-success text-white text-center p-3 m-1">
            <div class="text-center">
                <form class="form-inline justify-content-end" asp-controller="Home" asp-action="Index">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query"/>
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit" value="Filter">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-2">
            @await Component.InvokeAsync("NavigationCategory")
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
        <div class="col-1">
            <p>

            </p>
        </div>
    </div>

    <div class="container">
        <footer class="pt-5 py-2 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <p class="text-center text-muted">© 2021 Company, Inc</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
