@using System.Globalization
@model StoreMVC.Models.Order.OrderGetModels.OrderGetById
@{
    Layout = "_CleanLayout";
ViewData["Title"] = "Order Completed";
}

<div class="text-center">
    <br />   
    <h2>Thanks @Model.FullName!</h2>
    <br />
    <h3>Order Total Price : @Model.TotalPrice.ToString("c", CultureInfo.CreateSpecificCulture("en-US"))</h3>
    <p>Thanks for placing order #@Model.Id</p>
    <p>We'll ship your goods as soon as possible</p>
    <a class="btn btn-primary" asp-controller="Home">Return to store</a>
</div>

