@using StoreMVC.Models
@model IEnumerable<string>


@foreach (string category in Model)
{
    <a class="btn btn-block
       @(category == ViewBag.SelectedCategory
       ? "btn-primary": "btn-outline-secondary")"
       asp-page="/categories" >
       @category
    </a>
}