@page "/Categories"
@model StoreMVC.Pages.CategoriesModel
@{
    <ul class="list-group">
        @foreach (var item in Model.Categories)
    {
        <li class="list-group-item active" aria-current="true">@item.Title</li>
    }
    </ul>
}
