@model IEnumerable<StoreAdminMVC.ViewModels.OrderGetVM>

@{
    ViewData["Title"] = "Orders";
}

<h3 class="text-center">All orders</h3>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-route-id="@item.Id" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Order #@item.Id</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small>Order Type : @item.PaymentType</small>
        </a>
    }
</div>
